* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("img/fondo-principal.jpg");
    background-repeat: no-repeat;
    background-size: cover ;
    background-attachment: fixed;
    height: 100vh;
}


/* Navbar */
.navbar {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.39) 68%, rgba(102, 102, 102, 0) 100%);
}

.collapse {
    justify-content: center;
}

.navbar-nav .nav-item .nav-link {
    margin: 10px 20px;
    color: white;
    font-size: 18px;
    font-weight: 200;
}

.active {
    color: white !important;
    font-weight: 600 !important;
}

.card{
    background-color: rgb(15, 15, 15);
    color: aliceblue;
    border-radius: 20px;
    border: solid aliceblue;
}

.card-title{
    text-align: center;
}

.btn{
    background-color: crimson;
    border-radius: 8px;
    font-weight: bold;
}

#container-contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    padding-top: 40px;
    /* Ajuste para evitar la superposición con la barra de navegación */
}