<!-- Footer -->
<div th:fragment="footer" class="container-fluid p-0">
    <footer class="py-4 my-4">
        <div class="row">
            <!-- Sección de navegación -->
            <div class="col-12 col-md-4 mb-3">
                <h5>Enlaces</h5>
                <ul class="nav flex-column">
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Inicio</a></li>
                    <li class="nav-item"><a href="sugerencias.html" class="nav-link px-2 text-light">Sugerencias</a></li>
                    <li class="nav-item"><a href="reclamaciones.html" class="nav-link px-2 text-light">Libro de Reclamaciones</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Nosotros</a></li>
                </ul>
            </div>

            <!-- Sección de contacto -->
            <div class="col-12 col-md-4 mb-3">
                <h5>Contacto</h5>
                <ul class="nav flex-column">
                    <li class="nav-item"><a href="tel:945942112" class="nav-link text-light px-2">Teléfono: 945942112</a></li>
                    <li class="nav-item"><a href="mailto:Donnapizza@gmail.com" class="nav-link text-light px-2">Email: Donnapizza@gmail.com</a></li>
                    <li class="nav-item"><a href="#container-contacto" class="nav-link text-light px-2">Formulario de contacto</a></li>
                </ul>
            </div>

            <!-- Sección de redes sociales -->
            <div class="col-12 col-md-4 mb-3">
                <h5>Síguenos</h5>
                <ul class="nav">
                    <li class="nav-item">
                        <a href="https://www.facebook.com" target="_blank" class="nav-link px-2 text-light">
                            <i class="fab fa-facebook-f mx-1"></i> Facebook
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.instagram.com" target="_blank" class="nav-link px-2 text-light">
                            <i class="fab fa-instagram mx-1"></i> Instagram
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.twitter.com" target="_blank" class="nav-link px-2 text-light">
                            <i class="fab fa-twitter mx-1"></i> Twitter
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Pie de página -->
        <p class="text-center mt-4">&copy; 2024 Grupo Company, Inc. Todos los derechos reservados.</p>
    </footer>
</div>
