<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0>
        
    </head>
    <body>
        <h1>Lista de Contacto</h1>
        <table border="3">
       <h1>Lista de Contactos</h1>
                <div class="info">
                    <span class="label" th:text="#{from.contacto.nombrecontacto}">Nombre</span>
                    <span class="value" th:text="${nombre}"></span>
                </div>

                <div class="info">
                    <span class="label" th:text="#{from.contacto.emailcontacto}">Email</span>
                    <span class="value" th:text="${email}"></span>
                </div>

                <div class="info">
                    <span class="label" th:text="#{from.contacto.telefonocontacto}">Telefono</span>
                    <span class="value" th:text="${telefono}"></span>
                </div>
         
    </body>
</html>
